@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl underline font-sans;
  }
}

@layer components {
  .menu-item {
    @apply text-2xl font-sans py-6; 
  }
  .contact-input {
    @apply block p-2 border rounded border-[#191919] w-[100%]
  }
  .about-skills-div {
    @apply flex flex-col space-y-1 mb-4 md:mb-0 mx-4 md:mx-0
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10%;
  background: #191919; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-top-left-radius: 80px 80px;
  border-top-right-radius: 80px 80px;
  border-bottom-left-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
  background: #ffffff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}